{% extends  'base.html' %}
{%load bootstrap4%}
{%load static%}

{% load tz %}

{% block content %}

<div class="container-fluid">
  <!-- <div class="row requests">
      <h1 class=" m-2 ">These are current applications</h1>
  </div> -->

  <div class="row user-info">
      <div class="col-md-1"></div>
      <div class="col-md-10">
          <table class="table mt-2">
              <caption></caption>
              <thead>
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Applicant</th>
                      <th scope="col">Email</th>
                      <th scope="col">Application Type</th>
                      <th scope="col">Date</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                     
                  </tr>
              </thead>
              <tbody>
                  {% for application in applications %}
                  <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td><img class="rounded-circle profile_image" src="{{ application.client.profile.image.url }}" alt="Image" height="25px"
                        width="25px">{{application.client.first_name}}</td>
                      <td>{{application.client.email}}</td>
                      <td>{{application.application_type}}</td>
                      <td>{% localtime on %} {{application.date_applied}} {% endlocaltime %}</td>
                      <td>Posted</td>
                      <td><a href="" class="btn btn-outline-info btn-sm">View</a> </td>

                  </tr>
                  {% endfor %}


              </tbody>
          </table>

      </div>
      <div class="col-md-1"></div>

  </div>
</div>

{% endblock %}